# Local
.DS_Store
*.local
*.log*
.env.local

# Dist
node_modules
dist/

# TanStack Router codegen
src/routeTree.gen.ts

# Firebase
.firebase/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
